// This file contains all application-wide Sass variables.

// Color system

$black:    								#000 !default;

// Typography
$font-family-sans-serif:                "Inter UI",sans-serif;

// Utilities
$utilities: (
	"background-color": (
	  	property: background-color,
	  	class: bg,
	  	values:(
	      	"black": $black
		)
	)
);

// Assets
$img-path:                              "../img/" !default;
$font-path:                             "../font/" !default;
