nav.navbar.navbar-expand-lg.navbar-dark.bg-black
    .container
        a.navbar-brand(href='index.html') Bootstrap Boilerplate
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#nav' aria-controls='nav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #nav.collapse.navbar-collapse
            ul.navbar-nav.ms-auto
                li.nav-item
                    a.nav-link(href='index.html' class=(navLink === 'home' ? 'active' : '')) Home
                li.nav-item
                    a.nav-link(href='about.html' class=(navLink === 'about' ? 'active' : '')) About
                li.nav-item
                    a.nav-link(href='contact.html' class=(navLink === 'contact' ? 'active' : '')) Contact
